body{
	margin: 0;
}

h1{
	letter-spacing: 2px !important;
	color: #262930 !important;
	line-height: 29px !important;
	font-size: 24px !important;
	font-family: raleway, sans-serif !important;
	font-weight: 500 !important;
}

h1 a{
	color: #D18688;
}

h1 a:hover{
	color: #262930;
	text-decoration: none;
}

.header{
	width: 100%;
	height: 194px;
	border-bottom: solid;
	border-color: #262930;
	border-width: 1px;
}

.headerContainer{
	height: 100%;
	width: 100%;
	position: relative;
}

.headerLogo{
	margin-top: 45px;
	margin-left: 20px;
}

.logout-btn{
	width: 69px;
	height: 19px;
	background: url('/images/admin-logout-normal.png');
	display: block;
	position: absolute;
	top: 20px;
	left: 113px;
	border: none;
}

.logout-btn:hover{
	background: url('/images/admin-logout-rollover.png');
}

.footer{
	height: 140px;
	line-height: 140px;
	color: #666666;
	font-size: 13px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

.menu{
	width: 100%;
	min-height: 140px;
	border-bottom: solid;
	border-color: #262930;
	border-width: 1px;
	margin-bottom: 60px;
}

.menuLink{
	height: 139px;
	width: 140px;
	display: inline-block;
}

.usersLink{
	background: url('/images/users_btn-normal.png');
}

.usersLink:hover, .usersSelected{
	background: url('/images/users_btn-rollover.png');
}

.operativeLink{
	background: url('/images/operative_btn-normal.png');
}

.operativeLink:hover, .operativeSelected{
	background: url('/images/operative_btn-rollover.png');
}

.hoursLink{
	background: url('/images/hours_btn-normal.png');
}

.hoursLink:hover, .hoursSelected{
	background: url('/images/hours_btn-rollover.png');
}

.paymentLink{
	background: url('/images/payments_btn-normal.png');
}

.paymentLink:hover, .paymentSelected{
	background: url('/images/payments_btn-rollover.png');
}

.jobLink{
	background: url('/images/job_btn-normal.jpg');
}

.jobLink:hover, .jobSelected{
	background: url('/images/job_btn-rollover.jpg');
}

.login-form .form-group{
	height: 51px;
	line-height: 51px;
}

.login-form input{
	width: 100%;
	padding-left: 15px;
}

.login-form label{
	margin-bottom: 0;
	letter-spacing: 2px;
	color: #666666;
	line-height: 19px;
	font-size: 16px;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

.login-form .login-btn{
	border-style: none;
	height: 52px;
	width: 172px;
	background: url('/images/login_btn-normal.png');
}

.login-form .login-btn:hover{
	background: url('/images/login_btn-rollover.png');
}

#remember{
	height: 20px;
	width: 20px;
	text-align: left;
}

.submit-btn{
	border-style: none;
	width: 172px;
	height: 52px;
	background: url('/images/submit_btn-normal.png');
}

.submit-btn:hover{
	background: url('/images/submit_btn-rollover.png');
}

.add-user-form{
	border-bottom: solid;
	border-color: #262930;
	border-width: 1px;
	padding: 0 0 40px 0 !important;
	margin-bottom: 40px;
}

#datatables{
  letter-spacing: 2px;
  color: #262930;
  font-size: 16px;
  font-family: raleway, sans-serif;
}

#datatables tr{
	height: 50px;
}

#datatables a{
	font-weight: bold;
	color: #787878;
}

#datatables a:hover{
	color: #000000;
	text-decoration: none;
}

.paddingLeft, #datatables th{
	padding-left: 20px;
}

#datatables_length{
	letter-spacing: 2px;
	color: #262930;
	font-size: 16px;
	font-family: raleway, sans-serif;
	margin-bottom: 10px;
	float: left;
}

#datatables_filter{
	letter-spacing: 2px;
	color: #262930;
	font-size: 16px;
	font-family: raleway, sans-serif;
	margin-bottom: 10px;
	float: right;
}

#datatables_info{
	margin-top: 10px;
	text-align: center;
	letter-spacing: 2px;
	color: #262930;
	font-size: 16px;
	font-family: raleway, sans-serif;
	margin-bottom: 10px;
}

#datatables_paginate{
	text-align: center;
	letter-spacing: 2px;
	color: #262930;
	font-size: 16px;
	font-family: raleway, sans-serif;
	margin-bottom: 10px;
}

#datatables_paginate a{
	margin: auto 5px;
	color: #787878;
}

#datatables_paginate a:hover{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

.cross-btn{
	border: none;
	height: 15px;
	width: 15px;
	background: url('/images/cross.png');
}

.success-btn{
	border: none;
	height: 15px;
	width: 15px;
	background: url('/images/success.gif');
}

.center-div{
	left: 0;
	right: 0;
	margin: auto;
	display: block;
	position: relative;
}

.update-btn{
	margin: 15px 0;
	width: 220px;
	height: 64px;
	background: url('/images/update_btn-normal.png');
	border: none;
}

.update-btn:hover{
	background: url('/images/update_btn-rollover.png');
}

.advice-span{
	color: #787878;
	font-size: 12px;
	font-family: raleway, sans-serif;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

.danger-message{
	font-family: open-sans, sans-serif;
	color: #d44950;
	border-color: #d44950;
	margin: 0 auto;
	display: block;
	left: 0;
	right: 0;
	padding: 0 20px;
}
.danger-message li{
	padding: 0 5px;
}
.success-message{
	font-family: open-sans, sans-serif;
	color: #57A958;
	border-color: #57A958;
	margin: 0 auto;
	display: block;
	left: 0;
	right: 0;
	padding: 0 20px;
}

.fancy-select{
	position: absolute;
    width: 200px;
    height: 51px;
    padding-left: 10px;
    font-size: 18px !important;
	font-family: raleway, sans-serif !important;
	background: url('/images/admin-dropdown.png') no-repeat right;
	background-size: 51px 51px;
	-webkit-appearance: none;
}

.quote{
	font-size: 12px;
    line-height: 19px;
    color: #7F7F7F;
	letter-spacing: 2px;
    font-family: raleway, sans-serif;
    font-weight: 500;
}

.menu-h1{
	margin-top: 10px;
}

.download-btn{
	display: block;
	height: 51px;
	width: 201px;
	border: none;
	background: url('/images/download_btn-normal.png');
}

.download-btn:hover{
	background: url('/images/download_btn-rollover.png');
}

th{
	background: #ECECEC;
}