body{
	margin: 0;
}

.header{
	width: 100%;
	height: 194px;
	border-bottom: solid;
	border-color: #262930;
	border-width: 1px;
}

.headerContainer{
	height: 100%;
	width: 100%;
	position: relative;
}

.headerLogo{
	margin-top: 45px;
	margin-left: 20px;
}

.logout-btn{
	width: 69px;
	height: 19px;
	background: url('/images/admin-logout-normal.png');
	display: block;
	position: absolute;
	top: 20px;
	left: 113px;
}

.logout-btn:hover{
	background: url('/images/admin-logout-rollover.png');
}

.footer{
	height: 140px;
	line-height: 140px;
	color: #666666;
	font-size: 13px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

.menu{
	width: 100%;
	min-height: 140px;
	border-bottom: solid;
	border-color: #262930;
	border-width: 1px;
	margin-bottom: 60px;
}

.menuLink{
	height: 139px;
	width: 140px;
	display: inline-block;
}

.usersLink{
	background: url('/images/users_btn-normal.png');
}

.usersLink:hover, .usersSelected{
	background: url('/images/users_btn-rollover.png');
}

.operativeLink{
	background: url('/images/operative_btn-normal.png');
}

.operativeLink:hover, .operativeSelected{
	background: url('/images/operative_btn-rollover.png');
}

.hoursLink{
	background: url('/images/hours_btn-normal.png');
}

.hoursLink:hover, .hoursSelected{
	background: url('/images/hours_btn-rollover.png');
}

.paymentLink{
	background: url('/images/payments_btn-normal.png');
}

.paymentLink:hover, .paymentSelected{
	background: url('/images/payments_btn-rollover.png');
}

.jobLink{
	background: url('/images/job_btn-normal.jpg');
}

.jobLink:hover, .jobSelected{
	background: url('/images/job_btn-rollover.jpg');
}

.login-form .form-group{
	height: 51px;
	line-height: 51px;
}

.login-form input{
	width: 100%;
	padding-left: 15px;
}

.login-form label{
	margin-bottom: 0;
	letter-spacing: 2px;
	color: #666666;
	line-height: 19px;
	font-size: 16px;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

.login-form .login-btn{
	border-style: none;
	height: 52px;
	width: 172px;
	background: url('/images/login_btn-normal.png');
}

.login-form .login-btn:hover{
	background: url('/images/login_btn-rollover.png');
}

#remember{
	height: 20px;
	width: 20px;
	text-align: left;
}